{
  "name": "{{lun_name}}",
  "description": "This is automation created LUN",
  "replicationParameters": {
    "isReplicationDestination": "true"
  },
  "lunParameters": {
    "pool": {
      "id": "{{pool_id}}"
    },
    "isThinEnabled": "true",
    "isDataReductionEnabled": "false" ,
    "isAdvancedDedupEnabled": "false" ,
    "size": 1073741824,
    "defaultNode": {{sp_id}},
  }
}
